.navbar {
  background-color: #F5F5F5;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}


.nav-logo {
  flex-grow: 1;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  padding: 0.5rem 1rem;
}

.donar-button {
  padding: 1rem;
  margin-right: 1rem;
}
