.navbar {
  background-color: #F5F5F5;
  box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.2);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 6rem;

  /* Gradient */
  /* background: linear-gradient(90deg, #F9C49A 0%, #ea7a1e 100%); */
}

/* TODO: Toda el logo ocupa mucho, arreglar para que el cursor pointer quede bien */
.nav-logo {
  flex-grow: 1;
  padding: 1rem;
  margin-left: 1rem;
}

.nav-logo img {
  width: 90px;
  height: auto;
  margin-top: 0.5rem !important;
  cursor: pointer;
  /* border: 5px solid black; */
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 3rem;
  align-items: center;
}

.nav-links {
  padding: 0.5rem 1.3rem;
}


.nav-links:link, .nav-links:visited {
  text-decoration: none;
  color: #7C3C21;
  font-weight: bold;
}

.nav-links:hover {
  /* background-color: #F5f5f5; */
  /* color: #ea7a1e; */

  color: #EA7A1E;
  /* background-color: #ea7a1e; */
  border-radius: 6px;
  transition: all 0.5s;
  font-size: 1.35rem  ;

}

.donar-button-container {
  padding: 1rem;
  margin-right: 1.5rem;
}


