.quienes-somos-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: #ffffff59;
}

.text-transparent {
  color: rgba(255, 255, 255, 0);
}

.text-justify {
  text-align: justify;
}